*~
\#*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# solutions
solution.py

# hide next lessons
python_4/
sql_1/
haskell_1/
haskell_2/
pthreads_1/
binary_1/

# gtags
GTAGS
GRTAGS
GPATH
